<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ethereal Machines @CES2018</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
  <header class="header">
    <div class="header__logo-container">
      <img src="{{ url_for('static', filename='images/company-logo.svg') }}" alt="Logo" width="40" height="40">
    </div>
    <h1 class="heading-primary">
      <span class="heading-primary--main">Register Your Interest</span>
    </h1>
  </header>

  <section class="form-container wrapper">
    <form class="user-form">
      {{ form.csrf_token }}
      <p>Share your details to avail your coupon code!</p>
      <div class="user-details">
        <input type="text" name="name" placeholder="Your Name...">
        <div class="field-error-msg" id="name-error"></div>
        <input type="email" name="email" placeholder="Email Id...">
        <div class="field-error-msg" id="email-error"></div>
        <input type="text" name="cellphone" placeholder="Contact Number...">
        <div class="field-error-msg" id="cellphone-error"></div>
        <input type="text" name="address" placeholder="Address...">
        <div class="field-error-msg" id="address-error"></div>
      </div>
      <!-- {{ form.recaptcha }} -->
      <!-- <div class="field-error-msg" id="captcha-error"></div> -->
      <p class="error-msg hide"></p>
      <p class="security-msg"><i class="fa fa-lock"></i> We hate spam and promise to keep your data safe</p>
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw loading-animation hide"></i>
      <div class="action-buttons">
        <button type="button" id="submit-btn" class="btn btn--orange">Submit</button>
      </div>
    </form>
  </section>

  <!-- <button class="btn btn--modal">Click me</button> -->

  <footer class="footer">
    <div class="footer__container wrapper">
      <img src="{{ url_for('static', filename='images/company-logo-name.svg') }}" alt="Logo" width="80" height="80" class="footer__logo">
      <p>Copyright &copy; 2018 Ethereal Machines Pvt Ltd. All rights reserved.</p>
    </div>
  </footer>

  <div class="success-modal hide">
    <div class="success-modal__content">
      <img src="{{ url_for('static', filename='images/company-logo.svg') }}" alt="Logo" width="40" height="40" class="success-modal__logo">
      <img src="{{ url_for('static', filename='images/estrella-render.svg') }}" alt="Ethereal Ray" width="100" height="100">
      <h1 class="success-modal__heading">Thanks for booking your pre-order!</h1>
      <p class="success-modal__msg">An email with the details will be sent to your provided email id.</p>
      <button class="btn btn--close-modal">OK</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
